body,html{
    margin:0;
    padding: 0;
} 


table td:hover{
  color: red;
}

tr:nth-child(2) td:nth-child(2),
tr:nth-child(3) td:nth-child(2),
tr:nth-child(6) td:nth-child(5),
tr:nth-child(5) td:nth-child(5),
tr:nth-child(2) td:nth-child(6),
tr:nth-child(3) td:nth-child(6)
{
    background-color: rgba(7, 6, 6, 0.93);
}



table,td{
    border:2px solid#080707;
    border-collapse: collapse;

}

